@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f7f7f7;
    font-family: 'Montserrat', sans-serif;
}

.chatbot {
    position: fixed;
    right: 40px;
    bottom: 50px;
    width: 300px;
    background: linear-gradient(to bottom, #6d5ca7, #4d3a6b);
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.chatbot header {
    background: #4d3a6b;
    padding: 16px 0;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.chatbot header h2 {
    color: #fff;
    font-size: 1.4rem;
}

.chatbot .chatbox {
    height: 300px;
    overflow-y: auto;
    padding: 15px;
}

.chatbox .chat {
    display: flex;
}

.chatbox .incoming span {
    background: #a28089;
    color: #fff;
    height: 28px;
    width: 28px;
    text-align: center;
    line-height: 28px;
    border-radius: 50%;
    margin: 0 10px 7px 0;
}

.chatbox .outgoing {
    margin: 10px 0;
    justify-content: flex-end;
}

.chatbox .outgoing p {
    background: #6d5ca7;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    
}

.chatbox .chat p {
    max-width: 75%;
    font-size: 0.95rem;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.chatbox .incoming p {
    background: #a28089;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
}

.chatbot .chat-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    background: #4d3a6b;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.chat-input textarea {
    background: #6d5ca7;
    color: #fff;
    border: none;
    outline: none;
    font-size: 0.95rem;
    resize: none;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
}
